* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    font-size: 16px;
    font-weight: 400;
}

.heading-container {
    background-color: white;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.heading-div {
    display: flex;
    font-weight: 400;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    height: 50px;
}

.head {
    font-weight: inherit;
}


.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 50px 10px;
    color: white;
}

.heading {
    font-weight: 300;
    font-size: 3em;
    align-self: center;
    margin: 10px 0;
}

.label {
    display: block;
    margin: 0 0 3px 0;
}

.input-box {
    background-color: rgb(255, 255, 255);
    padding: 8px 10px;
    border-radius: 2px;
    border-bottom: 3px solid transparent;
    transition: border-bottom ease 0.2s;
}

.input-box:focus-within {
    border-bottom: 3px solid #0fa856;
}

.input {
    width: 100%;
    font-size: 1.1em;
    font-weight: 300;
    border: none;
    color: #264653;
    background-color: inherit;
}

.input:focus {
    outline: none;
}

.input::-webkit-input-placeholder {
    font-size: 0.8em;
    font-weight: 300;
    color: rgb(171, 171, 171);
}

.check-field {
    margin: 30px 0;
    align-self: center;
}

.input-tos {
    margin: 0 10px 0 10px;
}

.btn {
    align-self: center;
    cursor: pointer;
    border: none;
    padding: 10px 30px;
    font-size: 1.2em;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    transition: transform ease 0.3s;
}

.error {
    font-size: 0.8em;
    color: red;
    min-height: 18px;
    display: block;
}

.success {
    color: white;
    text-align: center;
    font-size: 2em;
}

.after {
    text-align: center;
}

.goback {
    padding: 10px 20px;
    background-color: white;
}

.btn:hover:enabled {
    transform: translateY(-10%);
}

.btn:active:enabled {
    transform: translateY(0);
}