* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 16px;
    /* background-color: rgb(233, 231, 231); */
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.heading-container {
    background-color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.heading {
    display: flex;
    font-weight: 400;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    height: 50px;
}

.head {
    font-weight: inherit;
}

.btn {
    background-color: #0093E9;
    padding: 8px 20px;
    border-radius: 20px;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-evenly;
    padding: 10px;
}

.product {
    flex-basis: 300px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 4px grey;
    overflow: hidden;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image {
    width: 100%;
    height: 50%;
}

.info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 10px;
    flex-grow: 1;
}

.price {
    font-size: 1.5em;
    font-weight: 300;
    color: rgb(89, 89, 89);
}

.title {
    font-weight: 400;
}

.category {
    font-size: 0.8em;
    color: rgb(89, 89, 89);
    text-transform: capitalize;
}

.rating {
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
}

.icon {
    height: 12px;
    margin-right: 5px;
}

.error {
    font-weight: 400;
    color: rgb(89, 89, 89);
}

/* Loader */

.lds-ring {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 8px;
    border: 8px solid rgb(30, 110, 224);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(30, 110, 224) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}